<nav class="sticky top-0 w-full px-5 bg-n-8/50 border-b border-gray-700 z-10">
  <div class="flex items-center justify-between h-16">
    <%= link_to root_path,class: 'flex flex-row justify-center items-center gap-2' do %>
      <%= image_tag('star.svg', class: 'h-[30px] w-auto') %>
      <span class="font-bold text-3xl whitespace-nowrap">All Chat</span>
    <% end %>
    <div class="flex flex-grow justify-center gap-12">
      <a href="/reviews" class="text-gray-300 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Reviews</a>
      <a href="#" class="text-gray-300 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Leaderboards</a>
      <a href="#" class="text-gray-300 hover:bg-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Discord</a>
    </div>
    <div class="flex flex-row gap-2 px-3 py-2 border bg-gray-900 rounded-2xl justify-center items-center hover:bg-blue-900 transition duration-200">
      <% if user_signed_in? %>
        <%= link_to "Sign out", sign_out_path, method: :get %>
      <% else %>
        <%= link_to "Sign in", user_google_oauth2_omniauth_authorize_path, data: { turbo: false } %>
      <% end %>
    </div>
  </div>
</nav>